<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Rahul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  
  <ion-card>
    <ion-card-header>
      <img src="assets/images/rajasthan.png" alt="images" style="border-radius: 10px;">
      <ion-card-subtitle style="color:green">20%OFF</ion-card-subtitle>
      <ion-card-title  style="color:maroon"><b>Rajasthan</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The best time to visit Rajasthan is October to March as days are sunny, not too humid, with cooler nights.
      <ion-button (click)="rajasthan()" expand="block" shape="round" fill="outline">
        Book Now 
        &nbsp;
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/manali.png" alt="images" style="border-radius: 10px;">
      <ion-card-subtitle style="color:green">40%OFF</ion-card-subtitle>
      <ion-card-title style="color:maroon"><b>Manali</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking center and honeymoon destination.
      <ion-button expand="block" shape="round" fill="outline">
        Book Now 
        &nbsp;
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <img src="assets/images/kerala.png" alt="images" style="border-radius: 10px;">
      <ion-card-subtitle style="color:green">10%OFF</ion-card-subtitle>
      <ion-card-title style="color:maroon"><b>Kerala</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals.
      <ion-button expand="block" shape="round" fill="outline">
        Book Now 
        &nbsp;
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/ladak.png" alt="images" style="border-radius: 10px;">
      <ion-card-subtitle style="color:green">5%OFF</ion-card-subtitle>
      <ion-card-title style="color:maroon"><b>Ladak</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tourism is one of an economic contributor to the union territory of Ladakh in Northern India. ... Ladakh is composed of the Leh and Kargil districts.
      <ion-button expand="block" shape="round" fill="outline">
        Book Now 
        &nbsp;
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
